{
    "tabWidth": 3,
    "printWidth": 120,
    "svelteSortOrder": "scripts-markup-styles",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": true
}
